NEXT_PUBLIC_SUPABASE_URL=https://cvrvxjqrdfbufzsomrcc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN2cnZ4anFyZGZidWZ6c29tcmNjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc4NzY2MjgsImV4cCI6MjA5MzQ1MjYyOH0.NoLsVmv8uN7iy08X_CH52qqEgejfEvS2RMfZg5A5BMQ
API_KEY=andai
NEXT_PUBLIC_API_KEY=andai
NEXT_PUBLIC_CHAT_KEY=andai_bHJ2e7KqLp8XrF5vYzT9dC3mN4sW6gA
NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_API_KEY=andai_bHJ2e7KqLp8XrF5vYzT9dC3mN4sW6gA