ANDAI_API_KEY=<your_andai_api_key>
 
JINA_API_KEY=<your_jina_api_key>
 
PINECONE_API_KEY=<your_pinecone_api_key>
PINECONE_INDEX=<your_pinecone_index_name>
 
MONGO_URI=<your_mongodb_uri>
 
API_KEYS=<your_api_key_1,your_api_key_2>

ANDAI_LLM_BASE_URL=<ANDAI_LLM_BASE_URL_link>